
.navbar{
  background-color: black;
}
.navbar-brand {
  font-size: 40px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-nav {
  display: inline-block;
}

.navbar-nav .nav-link {
  display: inline-block;
  margin-left: 1em;
}

body {
	margin: 0;
  padding: 0;
  background-color: black;
}

#g1{
  color: #4285F4;
}

#o1{
  color: #DB4437;
}

#o2{
  color: #F4B400;
}

#g2{
  color: #4285F4;
}

#l1{
  color: #0F9D58;
}

#e1{
  color: #DB4437;
}

#subBooks{
font-size: x-small}

